* {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* HEADER */
header {
    background-color: rgb(163, 163, 163);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: aquamarine;
    font-size: 3em;
    font-weight: 700;
    font-style: italic;
}

nav {
    min-width: 25%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15%;
    flex-wrap: wrap;
}

li {
    padding-bottom: 2%;
}

li a {
    color: #7FFF94;
    font-weight: 100;
 }

/* ABOUT ME */
article {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
}

h2 {
    width: 100%;
    text-align: center;
    color: aquamarine;
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1%;
}

p {
    width: 90%;
    font-weight: 400;
    font-style: normal;
}

/* PROJECTS */
main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80dvh;
}

.projectOne {
    border-radius: 15%;
    width: 70%;
    height: 20%;
    margin: 5%;
    background-image: url(SEO-Website.png);
    background-size: cover;
    border: .5em solid #7FEAFF;
}

.projectTwo {
    border-radius: 50%;
    width: 30%;
    height: 20%;
    margin: 10%;
    background-image: url(Miro-Website.png);
    background-repeat: no-repeat;
    background-position: center;
    border: .5em solid #7FEAFF;

}

.projectThree {
    border-radius: 50%;
    width: 30%;
    height: 20%;
    margin: 10%;
    background-image: url(stackOverflow-website.png);
    background-repeat: no-repeat;
    background-position: center;
    border: .5em solid #7FEAFF;
}

.projectFour {
    border-radius: 50%;
    width: 30%;
    height: 20%;
    margin: 10%;
    background-image: url(canva-website.png);
    background-repeat: no-repeat;
    background-position: center;
    border: .5em solid #7FEAFF;
}

.projectFive {
    border-radius: 50%;
    width: 30%;
    height: 20%;
    margin: 10%;
    background-image: url(leetCode-website.png);
    background-repeat: no-repeat;
    background-position: center;
    border: .5em solid #7FEAFF;
}

/* FOOTER */